body,html {
	margin:0px;
	background:url("images/background.jpg"); 
	background-attachment:fixed; 
	font-family:Geneva, Arial, Helvetica, sans-serif;
}



#container {
	margin:auto; 
	margin-top:5%; 
	margin-bottom:5%;
	max-width:1000px; 
	background: rgba(116,118,111, 0.4); 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px; 
	border: thin solid #e1e1e1;
}



#header {
	width:100%;
	height:61px; 
	background:url("images/heading.jpg");
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#subcontainer {
	max-width:964px; 
	margin:auto; 
	margin-top:20px;
	margin-bottom:20px;
	background: rgba(70,70,70, 0.4); 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:0px;
	overflow:auto; 
}


}
#home li.navHome a, #chords li.navChords a, #music li.navMusic a, #videos li.navVideos a{ 
	background:#a64e0e;
	color:#fff;
	text-shadow:none;	
}



#main {
	overflow:hidden; 
	padding:40px;
	text-align:center; 
}





ul.nav {
	margin:0px;
	padding:0px;
	float:left; 
	width:100%;
	border:1px solid #42432d;
	border-width:1px 0px;
	background:url("images/navBackground.png");
	box-shadow: inset 0px 0px 10px #000; 
}



ul.nav li{
	display:inline; 
	padding:0px;
	margin:0px;
}
ul.nav li:first-child a{
	border-left:1px solid #42432d; 
}
ul.nav a:link, ul.nav a:visited { 
	color:#000;
	background:#ce7229;	
	padding:20px 40px 4px 10px;
	float:left;
	width:auto;
	border-right:1px solid #42432d;
	text-decoration:none;
	font:bold 1em/1em Arial,Helvetica,sans-serif; 
	text-transform:uppercase; 
	text-shadow: 2px 2px 2px #555; 
}
ul.nav a:hover {
	color:#fff;
	background:#ab5b1c;	
}
ul.polaroid li { 
	list-style:none; 
	float:left; 
	padding: 10px 10px 25px 10px; 
	background:#eee;
	border: 1px solid #fff; 
	margin:-20px; 
}
ul.polaroid li.a { 
	z-index:1; 
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	-ms-transform: rotate(-10deg); 
}
ul.polaroid li.b {
	z-index:1;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);	
	-ms-transform: rotate(-3deg);
}
ul.polaroid li.c {
	z-index:1;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
}
ul.polaroid li.d {
	z-index:1;
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
}

#uke{
	position:fixed;
	left:0px;
	bottom:0px;
	background:url("images/fixeduke.gif");
	width:98px;
	height:290px;	
}

#pineapple {
	position:fixed; 
	right:0px; 
	bottom:0px;
	background:url("images/pineapple.gif");
	width:105px;
	height:255px;